



#geo_chart_div div:first-child div:first-child, #timeline_chart_div div:first-child {
    display: inline-block;
}

#timeline_chart_div {
    padding: 0px;
}

.google-visualization-atl {
    margin-bottom: 3em;
}